{{>header}}



<div class="about">
   <div class="wrapper target">
      <div class="text">
         <h3>
            Amacımız
         </h3>
         <p>
           Mitoloji, insanlığın geçmişten bugüne taşıdığı en büyüleyici hikayeler bütünüdür. Bu web sitesi, antik çağların derinliklerinden gelen efsaneleri modern dünyanın merakıyla buluşturmak için oluşturuldu. Amacımız, mitolojiyi sadece bir bilgi kaynağı olarak sunmakla kalmayıp, aynı zamanda geçmişin öğretilerini günümüzle bağdaştırarak farklı kültürlerin zenginliklerini anlamayı kolaylaştırmaktır. Ziyaretçilerimize mitolojik hikayelerin derin anlamlarını ve sembollerini keşfetme fırsatı sunmayı hedefliyoruz.
         </p>
      </div>
      <div class="picture">
         <img src="/img/team/team-1.jpg" alt="team">
      </div>
   </div>


      <div class="wrapper target">
      <div class="text">
         <h3>
            İçeriğimiz
         </h3>
         <p>
             Sitemizde mitolojinin her yönünü kapsayan zengin bir içerik sizi bekliyor. Tanrıların ve tanrıçaların hikayeleri, güçleri ve sorumlulukları detaylı bir şekilde ele alınıyor. Ayrıca ejderhalar, sirenler, unicornlar gibi mitolojik yaratıkların efsanelerdeki yerlerini öğrenebilir, onların sembolik anlamlarını keşfedebilirsiniz. Mitolojik olayların geçtiği Olimpos Dağı, Valhalla ve Hades’in yeraltı dünyası gibi mekanlar da sitemizde detaylı bir şekilde anlatılıyor. Görseller, ikonografik tasvirler ve interaktif bölümlerle bu bilgileri daha etkileyici bir şekilde deneyimleyebilirsiniz.
        </p>
         </p>
      </div>
      <div class="picture">
         <img src="/img/team/team-2.jpg" alt="team">
      </div>
   </div>


<div class="about">
   <div class="wrapper target">
      <div class="text">
         <h3>
            Amacımız
         </h3>
         <p>
           Mitoloji, insanlığın geçmişten bugüne taşıdığı en büyüleyici hikayeler bütünüdür. Bu web sitesi, antik çağların derinliklerinden gelen efsaneleri modern dünyanın merakıyla buluşturmak için oluşturuldu. Amacımız, mitolojiyi sadece bir bilgi kaynağı olarak sunmakla kalmayıp, aynı zamanda geçmişin öğretilerini günümüzle bağdaştırarak farklı kültürlerin zenginliklerini anlamayı kolaylaştırmaktır. Ziyaretçilerimize mitolojik hikayelerin derin anlamlarını ve sembollerini keşfetme fırsatı sunmayı hedefliyoruz.
         </p>
      </div>
      <div class="picture">
         <img src="/img/team/team-1.jpg" alt="team">
      </div>
   </div>

   
</div>